<head>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<title> Home Page</title>
<link rel="stylesheet" href="add_question.css">
</head>
<body>
 <input type="checkbox" id="check">
 <label for="check">
   <i class="fas fa-bars" id="btn"></i>
   <i class="fas fa-times" id="cancel"></i>
 </label>
 <div class="sidebar">
   <header>Survival Wisdom</header>
   <a href="/home" class="active">
     <i class="fas fa-home"></i>
     <span>Home</span>
   </a>
   <a href="/skills">
     <i class="fas fa-fire"></i>
     <span>Skills</span>
   </a>
   <a href="/keep_it_alive">
     <i class="fas fa-bomb"></i>
     <span>Keep It Alive</span>
   </a>
   <a href="/leaderboard">
    <i class="fas fa-medal"></i>
    <span>Leaderboard</span>
  </a>
   <a href="/about">
     <i class="far fa-question-circle"></i>
     <span>About</span>
   </a>
   <a href="/account">
     <i class="fa fa-address-card"></i>
     <span>Account</span>
   </a>
   <% if @current_user.admin == 1%>
      <a href="/add_question" class="active">
        <i class="fa fa-lock"></i>
        <span>Add Question</span>
      </a>
    <%end%>
   <div class="logout">
    <a href="/logout">
     <i class="fas fa-sign-out-alt"></i>
      <span>Log Out</span>
      <% @current_user = false %>
    </a>
   </div>
 </div>
</body>
 
<div class="frame">
<h2>Add Question</h2>

<form action="/add_question" method="POST">

<div>
    <label for="statement">Statement:</label>
    <input type="text" id="statement" name="statement" required>
</div>

<div>
    <label for="description">Left Description :</label>
    <input type="text" id="description" name="descriptionL" required>
</div>

<div>
    <label for="effects">Left Effects (separados por comas):</label>
    <input type="text" id="effects" name="effectsL" placeholder="-1, 1, 0, 0" required>
</div>

<div>
    <label for="description">Right Description:</label>
    <input type="text" id="description" name="descriptionR" required>
</div>

<div>
    <label for="effects">Right Effects(separados por comas):</label>
    <input type="text" id="effects" name="effectsR" placeholder="-1, 1, 0, 0" required>
</div>

<div>
    <label for="difficulty">Difficulty:</label>
    <select id="difficulty" name="difficulty" required>
        <option value="facil">Easy</option>
        <option value="medio">Medium</option>
        <option value="dificil">Hard</option>
    </select>
</div>
<% if @success_message %>
  <div class="success-message">
    <p><%= @success_message %></p>
  </div>
<% end %>
<button type="submit">Enviar</button>
</form>


</div>  
<script>
document.addEventListener('keydown', function(event) {
  // Verificar si la tecla presionada es "Tab" (código 9)
  if (event.key === 'Tab') {
    event.preventDefault(); // Evitar el comportamiento predeterminado del tabulador
    
    // Obtener el checkbox que controla la barra lateral
    var sidebarToggle = document.getElementById('check');
    
    // Alternar el estado del checkbox para abrir o cerrar la barra lateral
    sidebarToggle.checked = !sidebarToggle.checked;
  }
});
</script>

</body>
