<head>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">
<title> Home Page</title>
<link rel="stylesheet" href="skills.css">
</head>
<body>
 <input type="checkbox" id="check">
 <label for="check">
   <i class="fas fa-bars" id="btn"></i>
   <i class="fas fa-times" id="cancel"></i>
 </label>
 
 <div class="sidebar">
   <header>Survival Wisdom</header>
   <a href="/home">
     <i class="fas fa-home"></i>
     <span>Home</span>
   </a>
   <a href="/skills" class="active">
     <i class="fas fa-fire"></i>
     <span>Skills</span>
   </a>
   <a href="/keep_it_alive">
     <i class="fas fa-bomb"></i>
     <span>Keep It Alive</span>
   </a>
   <a href="/stats">
      <i class="fas fa-award"></i>
     <span>Stats</span>
   </a>
   <a href="/about">
     <i class="far fa-question-circle"></i>
     <span>About</span>
   </a>
   <a href="/account">
     <i class="fa fa-address-card"></i>
     <span>Account</span>
   </a>
 </div>
 <div class="frame">
 <section>
  <a href="/casa">
    <img src="fuego.jpg" alt="Fuego">
    <span class="image-text-1">Fire</span>
  </a>
  <a href="#">
    <img src="refugio.jpg" alt="Refugio">
    <span class="image-text-2">Shelter</span>
  </a>
  <a href="#">
    <img src="comida.jpg" alt="Comida">
    <span class="image-text-3">Food</span>
  </a>
  <a href="#">
    <img src="medicina.jpg" alt="Medicina">
    <span class="image-text-4">Medicine</span>
  </a>
  <a href="#">
    <img src="agua.jpg" alt="Agua">
    <span class="image-text-5">Water</span>
  </a>
</section>
  </div>  
</body>
 