<!DOCTYPE html>
<html>
<head>
  <title>Visualización de Preguntas y Opciones</title>
</head>
<body>
  <h1>Preguntas y Opciones</h1>

  <% @bars.each do |bar| %>
    <h2><%= bar.name_bar %></h2>
    <p><strong>Value:</strong> <%= bar.value %></p>
  <% end %>
</body>
</html>
